div { 
  background:#ffccff;
  margin:8px;
  padding:5px;
  width:100%;
}
img {
  width:300px;
  height:auto;
  display:block;
  border-radius:50%;
//  box-shadow:5px 5px #ffccff;
  padding:10px;  
  border:5px solid #424242;  
}
.menu {
  width:99%;
  font-family:Arial;
  font-weight:bold;
  background:#ffccff;
  color:black;
  list-style:none;
  margin:0px;
  padding:0px;
}
.menu li {
  display:inline-block;
}
.menu li a {
  display:inline-block;
  color:black;
  padding: 10px 20px;
}
.menu li a:hover {
  background:#ff66ff;
  color:black;
}  